<!--  -->
<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="default-src *;
   img-src * data: https:; script-src * 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Setting</title>
  <link rel="icon" href="../src/icons/main_logo/main_logo.ico">
  <link rel="stylesheet" href="../style/carPageStyle.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Monda:wght@700&display=swap');
  </style>
  <script type="text/javascript" src="../script/carPage.js"></script>
</head>
<body style="background-color: #ebbeff; display: block;">
  <header>
    <div class="header_title">
      <a href="main_page.html">
        <img title="To home" src="../src/icons/main_logo/main_logo_72x72.png">
      </a>
      <h1> CAR SETTING </h1>
    </div>
  </header>
  <nav>
    <!--
          **************************************************
          *            Car Registeration section           *
          **************************************************
      -->
    <h2 class="section_title">Register Car</h2>
    <div class="section" id="register_car">
      <form name="car_info_form" id="car_info_form" action="/post_car_info" method="POST">
        <div class="register_input_field">
          <p>Car year: </p>
          <input id="car_year" name="car_year" type="number">
          <p>Car model: </p>
          <input id="car_model" name="car_model" type="text">
          <p>Car company: </p>
          <input id="car_company" name="car_company" type="text">
          <p>Car owner: </p>
          <input id="car_owner" name="car_owner" type="text">
          <p>Car name: </p>
          <input id="car_name" name="car_name" type="text">
          <p>Car number:</p>
          <input id="car_num" name="car_num" type="text">
        </div>
        <div class="register_btn">
          <button>Register</button>
        </div>
      </form>
    </div>
    <h2 class="section_title">Your registered car</h2>
    <div class="section">
      <% if (car_names != null) { %>
      <% car_names.forEach(function(car) { %>
        <label class="car_lists"><%= car %></label>
      <% }); %>
      <% } %>
    </div>
    <h2 class="section_title">Car schedule</h2>
    <div class="section">
      <!--************* Load calendar *************-->
      <p class="sub_title"> Weekly calendar </p>
      <p class="description"> Up coming scedule. </p>
      <!-- iterate on each car -->
      <div class="car_lists">
        <% for (var car in car_schedule) { %>
           <%=car%> :
           <br>
           <br>
           <%
           var current_time_int = parseInt(current_time, 10);
           for (var i = 0; i < car_schedule[car][1].length; i++) {
             var from = parseInt(car_schedule[car][0][i], 10);
             var to = parseInt(car_schedule[car][1][i], 10);
             if (from > current_time_int) { %>
               <%=from%> ~ <%=to%><br>
             <% } %>
           <% } %>
         </p>
        <br>
        <% } %>
      </div>
    </div>

      <!--
        **************************************************
        *             Car Reservation section            *
        **************************************************
      -->
    <h2 class="section_title">Reserve car</h2>
    <div class="section">
      <form name="car_schedule" id="car_schedule" action="/schedule_car" method="POST">
        <div class="car_selection">
          <div class="column">&nbsp;</div>
          <div class="column">&nbsp;</div>
          <div class="column">
            <!-- ******** car selection ******** -->
            <select name="reserve_car" id="reserve_car">
              <option value="-">-</option>
              <% var car_opt_val = "-";%>
              <% var iteration = 0;%>
              <% car_names.forEach(function(car) { %>
                <option value="<%=car%>"><%=car%></option>
                <% car_opt_val = car; %>
              <% }); %>
            </selcet>
            <select>
            </select>
          </div>
          <div class="column">&nbsp;</div>
          <div class="column">&nbsp;</div>
          <div class="column">&nbsp;</div>
        </div>
        <!-- ******** image display ******** -->
        <div name="car_img_number" id="car_img_number">
          <% if (car_opt_val != "-" || car_opt_val != "N/A") { %>
            <% for(var i = 0; i < car_images.length; i++) { %>
            <!-- this will raise issues when the same car name appears -->
            <img class="car_names" id="<%=car_names[i]%>"
              alt="Image" src="../src/car_img/<%=car_images[i]%>"
              border="0" style="display: none;"/>
            <label class="car_number" name="car_number_<%=car_names[i]%>" class="car_number"
               id="<%=car_names[i]%>_num" style="display: none;">
              <%=car_numbers[i]%>
            </label>
            <!-- Used for post params storage -->
            <input name="car_number_<%=car_names[i]%>" value="<%=car_numbers[i]%>"
             style="display: none;"></input>
            <% } %>
          <% } %>
        </div>
        <!--************* From *************-->
        <h3>From</h3>
        <div class="date_selection">
          <!--************* Date *************-->
          <p> Year </p>
          <select name="year_from" id="year_from">
            <option value="-">-</option>
            <% for (let year = 2021; year < 2040; year++) { %>
              <option value="<%= year %>"><%= year %></option>
            <% } %>
          </selcet>
          <select>
          </select>
          <p>Month</p>
          <select name="month_from" id="month_from">
            <option value="-">-</option>
            <% for (let month = 1; month < 13; month++) { %>
              <option value="<%= month %>"><%= month %></option>
            <% } %>
          </selcet>
          <select>
          </select>
          <p>Date</p>
          <select name="date_from" id="date_from">
            <option value="-">-</option>
          </selcet>
          <select>
          </select>
          <!--************* Time *************-->
          <p>Hour</p>
          <select name="hour_from" id="hour_from">
            <option value="-">-</option>
            <% for (let hour = 0; hour < 24; hour++) { %>
              <option value="<%= hour %>"><%= hour %></option>
            <% } %>
          </selcet>
          <select>
          </select>
          <p>Min</p>
          <select name="min_from" id="min_from">
            <option value="-">-</option>
            <% for (let min = 0; min < 60; min+=5) { %>
              <option value="<%= min %>"><%= min %></option>
            <% } %>
          </selcet>
          <select>
          </select>
        </div>
        <!--************* To *************-->
        <h3>To</h3>
        <div class="date_selection">
          <!--************* Date *************-->
          <p>Year</p>
          <select name="year_to" id="year_to">
            <option value="-">-</option>
            <% for (let year = 2021; year < 2040; year++) { %>
              <option value="<%= year %>"><%= year %></option>
            <% } %>
          </selcet>
          <select>
          </select>
          <p>Month</p>
          <select name="month_to" id="month_to">
            <option value="-">-</option>
            <% for (let month = 1; month < 13; month++) { %>
              <option value="<%= month %>"><%= month %></option>
            <% } %>
          </selcet>
          <select>
          </select>
          <p>Date</p>
          <select name="date_to" id="date_to">
            <option value="-">-</option>
          </selcet>
          <select>
          </select>
          <!--************* Time *************-->
          <p>Hour</p>
          <select name="hour_to" id="hour_to">
            <option value="-">-</option>
            <% for (let hour = 0; hour < 24; hour++) { %>
            <option value="<%= hour %>"><%= hour %></option>
            <% } %>
          </selcet>
          <select>
          </select>
          <p>Min</p>
          <select name="min_to" id="min_to">
            <option value="-">-</option>
            <% for (let min = 0; min < 60; min+=5) { %>
            <option value="<%= min %>"><%= min %></option>
            <% } %>
          </selcet>
          <select>
          </select>
        </div>
        <div class="submit">
          <button id="reserve_btn">Reserve</button>
        </div>
      </form>
    </div>
    <!--
      **************************************************
      *             Car usage view section             *
      **************************************************
    -->
    <h2 class="section_title">Your Car Usage Info</h2>
    <div class="section">
      <p class="sub_title">
        Current Gauge
      </p>
      <% if (car_opt_val != "-" || car_opt_val != "N/A") { %>
        <% for(var i = 0; i < car_numbers.length; i++) { %>
          <!-- this will raise issues when the same car name appears -->
          <label class="car_number" name="car_number_<%=car_names[i]%>"
             id="<%=car_numbers[i]%>_num" style="display: auto;">
            <%=fuel_remaining[car_numbers[i]]%>
          </label>
        <% } %>
      <% } %>
      <p class="sub_title">
        Total Used Fuel.
      </p>
      <% if (car_opt_val != "-" || car_opt_val != "N/A") { %>
        <% for(var i = 0; i < car_numbers.length; i++) { %>
          <!-- this will raise issues when the same car name appears -->
          <label class="car_number" name="car_number_<%=car_names[i]%>"
             id="<%=car_numbers[i]%>_num" style="display: auto;">
            <%=fuel_used[car_numbers[i]]%>
          </label>
        <% } %>
      <% } %>
      <p class="sub_title">
        Refilled.
      </p>
      <% if (car_opt_val != "-" || car_opt_val != "N/A") { %>
        <% for(var i = 0; i < car_numbers.length; i++) { %>
          <!-- this will raise issues when the same car name appears -->
          <label class="car_number" name="car_number_<%=car_names[i]%>"
             id="<%=car_numbers[i]%>_num" style="display: auto;">
            <%=refilled[car_numbers[i]]%>
          </label>
        <% } %>
      <% } %>
    </div>
  </nav>
  <section>
    <div class="application">

    </div>
  </section>
</body>
</html>
